<section class="grid grid-cols-1 bg-gradient-to-r from-green-400 to-blue-500 rounded-2xl p-8  fancy-background">

    <div class="grid grid-cols-3 justify-end p8 bg-white rounded-2xl p-2 revert-rotate">
        <div class="self-center justify-self-center">
            <img class="w-32 h-32" src="../../assets/img/girl-5957398_1280.jpg" aria-label="me_image"
                alt="me_img">
        </div>
        <div class="col-start-2 col-end-4 ">
            <p>Hej,</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend mattis elit, quis auctor mi
                posuere ac. Cras in lacus at sapien ultrices pretium. Phasellus porttitor faucibus dapibus. Nunc at
                velit vel mi suscipit ultrices non ac eros. In hac habitasse platea dictumst.</p>
        </div>
    </div>

</section>