<section class="grid grid-cols-1">
    <div class="grid grid-cols-3 justify-end">
        <div>
            <img class="w-32 h-32 justify-end" src="../../assets/img/girl-5957398_1280.jpg" aria-label="me_image"
                alt="me_img">
        </div>
        <div class="col-start-2 col-end-4">
            <p>Hej,</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eleifend mattis elit, quis auctor mi
                posuere ac. Cras in lacus at sapien ultrices pretium. Phasellus porttitor faucibus dapibus. Nunc at
                velit vel mi suscipit ultrices non ac eros. In hac habitasse platea dictumst.</p>
        </div>
    </div>
</section>